*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: red;
}
.container{
display: flex;
flex-direction: column;
margin-top: 100px;
}
.container button {
    height: 40px;
    margin: 10px;
    background-color: rgb(197, 178, 176);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: blue;
}
.container button:hover{
    background-color: rgb(97, 88, 87);
    color: wheat;
}