*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
}
.main{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(3 , 1fr);
    background-color: white;
    width: 80%;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
   max-width: 500px;
   max-height: 500px;
   border: 2px solid;
}
.container{
    border: 1px solid;
display: grid;
 grid-template-columns: repeat(3 ,1fr);
grid-template-rows: repeat(3 , 1fr); 
}
.box{
background-color: white;
border: 1px solid;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
}
.box:hover{
    background-color: rgb(231, 230, 230);
}
