*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}
header{
    text-align: center;
    color: red;
    font-family: cursive;
}
.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(75, 95, 95);
}
.comp-score{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}
.user-score{
    text-align: center;
}
.box{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.box button{
width: 100px;

margin: 10px;
height: 30px;    
}
.choice{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.choice1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}
.choice2{
    text-align: center;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset{
    width: 200px;
    height: 30px;
}